@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: url(../img/home/background2.png);
  padding-top: 60px;
}

span,
p,
small,
li.list-group-item {
  font-family: "Montserrat", sans-serif;
}

/* 
 @ Glass Texture with a fallback for Firefox 
 * found here:
 * https://stackoverflow.com/questions/38145368/css-workaround-to-backdrop-filter
*/

/* slightly transparent fallback */
.backdrop-blur {
  background-color: rgba(255, 255, 255, 0.5);
}

/* if backdrop support: very transparent and blurred */
@supports (
  (-webkit-backdrop-filter: blur(1em)) or (backdrop-filter: blur(1em))
) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
  }
}
